*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}
body {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  zoom: 0.5;
  -webkit-tap-highlight-color: transparent;
}
.grid {
  margin-top: 100px;
  display: grid;
  grid-template-areas:
    "imgcont"
    "stklabel"
    "stk"
    "bglabel"
    "bgcol";
  align-items: center;
}
.img-container-1 {
  display: flex;
  justify-content: center;
  grid-area: imgcont;
}
.img-container-2 {
  display: none;
  justify-content: center;
  grid-area: imgcont;
}

.background1 {
  height: 2290px;
  width: 721px;
  /* border: 2px solid white; */
  /* background-color: #94c4d5; */
}
.background2 {
  height: 1373.85;
  width: 1442px;
  border: 2px solid black;
  /* background-color: #131211; */
}
.col-1,
.col-2,
.col-3,
.col-4 {
  height: 457.95px;
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: rotateY(180deg);
}
.stickerBtn {
  grid-area: stk;
  text-align: center;
  grid-area: "stk";
  display: flex;
  justify-content: space-around;
}
.bgcolor {
  grid-area: bgcol;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
img {
  width: 650px;
  border-radius: 10px;
  border: 2px solid white;
}
.cnm-icon-right {
  left: 519px;
  position: relative;
  bottom: 1188px;
  height: 100px;
  width: 200px;
  aspect-ratio: auto;
  border: none;
  opacity: 0;
}
.cnm-icon {
  left: 165px;
  position: relative;
  bottom: 150px;
  width: 260px;
  border: none;
  opacity: 0;
}
.cnm-icon-left {
  right: 316px;
  transform: rotateY(180deg);
  position: relative;
  bottom: 650px;
  height: 220px;
  width: 260px;
  border: none;
  opacity: 0;
}
.cnm-icon-top {
  right: 87px;
  position: relative;
  bottom: 1855px;
  transform: rotateY(180deg);
  height: 220px;
  width: 300px;
  border: none;
  opacity: 0;
}
.date {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    color: white;
    bottom: -345px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.7rem;
}
.title {
  position: relative;
  color: white;
  bottom: 400px;
  text-align: center;
  font-family: cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5.7rem;
  z-index: 2;
}
.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  background-color: white;
  height: 80px;
  width: 200px;
  cursor: pointer;
  outline: none;
}

.bg-button {
  /* margin-top: 20px; */
  margin: 20px 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  background-color: white;
  height: 80px;
  width: fit-content;
  min-width: 150px;
  cursor: pointer;
  outline: none;
}
#stkLabel {
  grid-area: stklabel;
}
#bgLabel {
  grid-area: bglabel;
}
.label {
  margin-top: 120px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  cursor: default;
  justify-self: center;
  text-wrap: nowrap;
}
/* .label::before {
  content: " ";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: black;
  bottom: -470px;
} */
.gdtm-icon {
  left: 515px;
  position: relative;
  bottom: 1382px;
  transform: rotateY(180deg);
  width: 234px;
  border: none;
}
.gdtm-icon-left {
  right: 196px;
  transform: rotateY(180deg);
  position: relative;
  bottom: 600px;
  height: 220px;
  width: 260px;
  border: none;
}
.gdtm-icon-top {
  left: -430px;
  position: relative;
  bottom: 1656px;
  width: 200px;
  border: none;
}
.gdtm-icon-right {
  position: relative;
  bottom: -80px;
  width: 160px;
  aspect-ratio: auto;
  transform: rotateY(180deg);
  border: none;
}
.int {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.int input[type="text"], .int input[type="date"] {
  font-size: 2.5rem;
  padding: 10px 30px;
  /* opacity: 20%; */
}
input[type="checkbox"] {
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
  cursor: pointer;
  /* -webkit-appearance: none; */
  appearance: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  /* border-width: 0; */
}
input[type="checkbox"]:checked {
  border-width: 0;
  appearance: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #94C4D5;
}
.inputlabel {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  cursor: default;
  justify-self: center;
  text-wrap: nowrap;
}
#download {
  margin-bottom: 100px;
}
