*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  user-select: none;
  font-size: 1.6rem;
  -webkit-tap-highlight-color: transparent;
}

.header {
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: -999;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 200px;
}

#title {
  font-size: 3em;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  cursor: default;
  color: whitesmoke;
}

.button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: small;
  background-color: white;
  height: 30px;
  width: 150px;
  cursor: pointer;
  outline: none;
}
.button p::after {
  content: "\00bb";
  position: relative;
  left: 100px;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.button p {
  font-size: 1rem;
}
.button:hover {
  box-shadow: 0px 0px 50px -10px rgb(148, 148, 148) inset;
}
.start-btn {
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.start-btn:hover p::after {
  position: relative;
  left: 0;
  opacity: 100%; 
}
.label {
  color: whitesmoke;
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 0.8rem;
  cursor: default;
}
#welcome {
  cursor: default;
  position: relative;
  text-transform: uppercase;
  bottom: -10px;
  color: whitesmoke;
  font-size: 1rem;
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}
.style-btn {
  opacity: 0;
  cursor: default;
}
.style-container{
  opacity: 0;
  display: grid;
  grid-template-areas: 'btn1 btn2'
  'sample1 sample2';
  grid-gap: 20px;
  grid-template-columns: 200px;
  justify-items: center;
  /* transition: 300ms; */
  transform: translateY(400px);
  transition: all .3s ease-in-out;
}
.sample {
  border: 3px solid black;
}
#style_1 {
  grid-area: btn1;
}
#style_2 {
  grid-area: btn2;
}